<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>home</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap4/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="bs-example">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
	<a class="navbar-brand"  href="#">IAS Academy</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavBar" aria-controls="myNavBar" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="myNavBar">
	<ul class="navbar-nav ml-auto">
	<li class="nav-item active">
		<a class="nav-link" href="{% url 'adminbase'%}">Home <span class="sr-only">(current)</span></a>
	</li>
	<li class="nav-item active">
		<a class="nav-link" href="">Admin</a>
	</li>
	<li class="nav-item active">
		<a class="nav-link " href="">Quiz</a>
	</li>
	<li class="nav-item active">
		<a class="nav-link " href="#">Test Series</a>
	</li>  
	<li class="nav-item active">
		<a class="nav-link " href="#">Contact</a>
	</li>
	<li class="nav-item active">
		<a class="nav-link " href=""><button class=" bg-light text-dark">Log Out</button></a>    
	</li>
	</ul>
	</div>
	</div>
	</nav>
	</div>

{% block content %}

{% endblock %}

</body>
</html>