{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>logout</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap4/css/bootstrap.min.css' %}">
  </head>
  <body>
    
    <br><br><br><br><br>
<!-- <img src="{% static "image/logout_img.png" %}"  style="width:800px; height:100px; padding-left:400px;"> -->

<h2 class="text-center">Logged Out Successfully. <br> Thank you for using </h2>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br>

{% endblock content %}
  </body>

</html>

